{% extends "filter/base3.html" %}

{% block header %}<h1>フィルター：変数</h1>{% endblock %}

{%block content %}
    <p>リスト内容</p>
    <ol>
        {% for hero in heroes %}
            <li>{{hero}}</li>
        {% endfor %}
    </ol>
    <hr>
    <p>【ランダム】{{heroes|random}}</p>
    <p>【最初のユーザー】{{heroes|first}}</p>
    <p>【最後のユーザー】{{heroes|last}}</p>
    <p>【ユーザー数】{{heroes|length}}</p>
    <p>【一つにまとめる】{{heroes|join('====>')}}</p>
    {% filter upper %}
        this is a {{ showword }}.
    {% endfilter %}
{% endblock %}